{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{{ event_name }}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" title="default styles" href="{% static 'gift_registry/css/base-1.0.css' %}" />
<style>
@import url(http://fonts.googleapis.com/css?family=Rouge+Script);

p { margin: 0 0 0.4em; }

body {
  font-family: serif;
  font-size: 81%;
  color: #333;
  max-width: 700px;
  padding: 0 1.5em 1em;
  margin: 1em auto 0;
}

html {
}

footer img {
  clear: both;
  display: block;
  margin: 2em 0 0;
}

textarea {
  height: 2.5em;
  width: 15em;
}

.errorlist { color: #8a1f11; font-style: italic; }

.error {
  background: #fcc;
  padding: 0.5em;
}

.booked, .tally {
  color: #999;
}

.booked a {
  color: #999;
  text-decoration: line-through;
}

fieldset {
  margin: 2.5em 0 0;
}

fieldset h2 { margin-top: 0; }

li a { text-decoration: none; }

#page-summary { font-size: 1.2em; font-style: italic; }

h1#site-title img {margin: 1em 0; }

h1 {
  font-family: 'Rouge Script', cursive;
  font-weight: normal;
  font-size: 4em;
  text-align: center;
}

img {
  margin: 0 auto;
  text-align: center;
}
</style>
</head>

<body>
<header>
<h1 id="site-title">{{ event_name }}</h1>
<nav>
</nav>
</header>

<section>
{% block main_content %}{% endblock %}
</section>

<footer>
</footer>

</body>
</html>
